@import 'base/normalize';
@import 'abstracts/variables';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';
@import 'layout/client';
@import 'layout/practice';
@import 'layout/we';
@import 'layout/partners';
@import 'layout/contact';
@import 'components/typhography';
