*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

body {
  margin: 0;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  background-color: #784f33;
  color: #ffffff;
  padding: 10px 36px;
  border-radius: 37px;
}

.btn--secondary {
  background-color: transparent;
  border: 1px solid #784f33;
  color: #784f33;
}

.btn--third {
  border-radius: 5px;
  padding: 15px 40px;
}

.btn--four {
  border-radius: 5px;
  padding: 10px 20px;
  color: #d0a144;
  border: 1px solid #d0a144;
  background-color: transparent;
}

.header {
  padding-top: 36px;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__content {
  max-width: 400px;
  padding-top: 17vh;
}

.promo__content-btn:first-of-type {
  margin-right: 10px;
}

.promo__content-title {
  font-family: "Martel", serif;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 0;
  padding-bottom: 35px;
}

.promo__content-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-bottom: 35px;
}

.promo__card {
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: absolute;
  bottom: -30px;
}

.promo-card {
  padding: 35px 85px 35px 40px;
  background-color: #ffffff;
  max-width: 318px;
}

.promo-card__dark {
  background-color: #295c7a;
}

.promo-card__title.title-secondary {
  font-size: 24px;
}

.promo-card__title-white.title-secondary {
  color: #ffffff;
}

.promo-card__text-white.main-text {
  color: #ffffff;
}

@media (max-width: 910px) {
  .promo__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
  }
}

@media (max-width: 750px) {
  .header {
    height: auto;
  }
  .promo {
    padding-bottom: 120px;
  }
  .promo__card {
    position: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    padding-top: 80px;
  }
  .promo__content {
    margin: 0 auto;
    text-align: center;
    max-width: 285px;
  }
  .promo__content-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
  }
  .promo__content-text {
    padding-bottom: 40px;
  }
  .promo__content-btn:first-of-type {
    margin-bottom: 20px;
  }
}

.footer {
  padding-top: 50px;
  background: -webkit-gradient(linear, right top, left top, color-stop(-1.04%, #295c7a), to(#0072b5));
  background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  padding-bottom: 52px;
}

.footer-content__title.title-secondary {
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer__list-item--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer__list-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.footer-bottom {
  background-color: #ffffff;
  padding: 25px 0;
}

.footer-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__text.main-text {
  font-weight: 700;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (max-width: 800px) {
  .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}

@media (max-width: 600px) {
  .footer-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer-bottom__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (max-width: 420px) {
  .footer-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 0 0 55px 70px;
  }
  .footer-bottom {
    padding: 25px 70px 25px 70px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

.menu__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
  letter-spacing: 0.2px;
}

.menu-btn {
  position: absolute;
  width: 40px;
  height: 29px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
}

.menu-btn__first {
  height: 2px;
  width: 100%;
  background-color: #252b42;
}

.menu-btn__second {
  width: 70%;
  height: 2px;
  background-color: #252b42;
}

.menu-btn__third {
  width: 50%;
  height: 2px;
  background-color: #252b42;
}

@media (max-width: 600px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .menu-btn,
  .nav__icon,
  .logo {
    position: relative;
    z-index: 10;
  }
  .menu__list {
    position: absolute;
    display: none;
    background-color: #f6f6f6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40vh;
    top: 95px;
    left: 0;
    right: -10px;
    bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .menu__list.menu__list--active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .menu__item {
    font-size: 30px;
    font-weight: 400;
  }
}

.client {
  padding: 160px 0 95px 0;
  background-color: #fafafa;
}

.client__title {
  text-align: center;
}

.client__text {
  text-align: center;
  max-width: 455px;
  margin: 0 auto;
}

.client__box {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.client__box-item {
  background-color: #ffffff;
  padding: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 230px;
}

.client__box-number.title-secondary {
  padding-bottom: 0;
}

.client__box-text {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 16px;
  color: #737373;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .client__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 750px) {
  .client {
    padding-top: 100px;
  }
  .client__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 75px;
  }
  .client__text {
    max-width: 206px;
  }
}

.practice {
  padding: 125px 0 80px 0;
  background-color: #fafafa;
}

.practice__title {
  text-align: center;
}

.practice__text {
  text-align: center;
  max-width: 455px;
  margin: 0 auto;
}

.practice__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding-top: 45px;
}

.practice__box-img {
  width: 100%;
}

.practice__box-item {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.practice__box-content {
  padding: 30px 42px 0 30px;
}

.practice__box-title.title-secondary {
  font-size: 16px;
  padding-bottom: 15px;
  max-width: 120px;
}

.practice__box-text.main-text {
  padding-bottom: 30px;
}

@media (max-width: 1100px) {
  .practice__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .practice__box-item {
    max-width: 230px;
  }
}

@media (max-width: 750px) {
  .practice__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .practice__text {
    max-width: 206px;
  }
}

.we {
  padding: 160px 0 145px;
}

.we__title {
  text-align: center;
}

.we__text {
  text-align: center;
  max-width: 455px;
  margin: 0 auto;
}

.we__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 120px;
}

.we__box-content {
  max-width: 320px;
}

.we__box-video {
  background-image: url(../images/we.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.we__list {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.we__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.we__list-title.title-secondary {
  font-size: 16px;
  padding-bottom: 5px;
}

.we__list-subtitle.main-text {
  font-weight: 700;
}

@media (max-width: 750px) {
  .we {
    padding: 100px 0 150px 0;
  }
  .we__text {
    max-width: 206px;
  }
  .we__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 30px 0 30px;
  }
  .we__box-text {
    margin: 0;
  }
  .we__box-video {
    width: 100%;
    height: 440px;
  }
}

.partners {
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), color-stop(75%, #fafafa), color-stop(75%, #252b42));
  background: linear-gradient(180deg, #fafafa 0%, #fafafa 75%, #252b42 75%);
  padding: 50px 0 20px 0;
}

.partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #295c7a;
  padding: 30px 50px;
}

.subscribe-form__title.title-secondary {
  color: #ffffff;
  font-size: 24px;
  padding-bottom: 0;
  max-width: 250px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.form__input {
  color: #737373;
  font-family: "Martel", serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  padding: 15px 20px;
}

.form__button {
  width: 120px;
  background-color: #d0a144;
  color: #ffffff;
  font-family: "Martel", serif;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 750px) {
  .partners__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px 10px;
  }
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-form__title {
    padding-bottom: 30px;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .partners {
    background: #fafafa;
    padding-bottom: 0;
  }
  .partners__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
  .subscribe-form {
    background: -webkit-gradient(linear, right top, left top, color-stop(-1.04%, #295c7a), to(#0072b5));
    background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
    padding: 30px 40px;
  }
  .subscribe-form__title.title-secondary {
    padding-bottom: 30px;
  }
  .form {
    max-width: 260px;
  }
  .form__input {
    max-width: 160px;
  }
}

.contact {
  padding: 80px 0 155px 0;
  background-color: #f3f3f3;
}

.contact__title {
  text-align: center;
}

.contact__text {
  text-align: center;
  margin: 0 auto;
  max-width: 455px;
}

.contact-wrapper {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  height: 330px;
}

.contact__item-img {
  padding-bottom: 15px;
}

.contact__item-link.main-text {
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #252b42;
}

.contact__item-link--dark.main-text {
  color: #ffffff;
}

.contact__item-text.title-secondary {
  font-size: 16px;
  padding: 15px 0;
}

.contact__item-text--dark.title-secondary {
  color: #ffffff;
}

.contact__item-dark {
  background-color: #252b42;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consultation {
  padding: 40px 0;
}

.consultation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultation__title.title-secondary {
  font-size: 24px;
}

@media (max-width: 750px) {
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .contact__item {
    padding: 50px 40px 50px 40px;
  }
  .contact__text.main-text {
    font-weight: 700;
  }
  .consultation {
    padding: 40px 70px;
  }
  .consultation-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .consultation__text {
    padding-bottom: 50px;
  }
}

.title-secondary {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 40px;
  color: #252b42;
  padding-bottom: 10px;
  margin: 0;
}

.main-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}
/*# sourceMappingURL=style.css.map */