*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

body {
  margin: 0;
}

.container {
  width: 1050px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding-top: 36px;
}

.header {
  padding-top: 36px;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.header__top {
  display: flex;
  align-items: center;
  gap: 90px;
  position: relative;
}

.menu {
  display: flex;
}
.menu__list {
  display: flex;
  gap: 26px;
}
.menu__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
  letter-spacing: 0.2px;
}
.menu-btn {
  position: absolute;
  top: 45px;
  right: 60px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.menu-btn__first {
  height: 2px;
  width: 100%;
  background-color: #252B42;
}
.menu-btn__second {
  width: 70%;
  height: 2px;
  background-color: #252B42;
}
.menu-btn__third {
  width: 50%;
  height: 2px;
  background-color: #252B42;
}

.promo {
  padding-top: 210px;
}
.promo__content {
  max-width: 400px;
}
.promo__content-title {
  font-family: "Martel", serif;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0;
  padding-bottom: 35px;
}
.promo__content-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-bottom: 35px;
}
.promo__btn-first {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  background-color: #784F33;
  color: #fff;
  padding: 10px 36px;
  border-radius: 37px;
  margin-right: 10px;
}
.promo__btn-second {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  background-color: transparent;
  border: 1px solid #784F33;
  color: #784F33;
  padding: 10px 36px;
  border-radius: 37px;
}
.promo__card {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.promo__card-item {
  padding: 35px 85px 35px 40px;
  background-color: #fff;
  width: 318px;
}
.promo__card-item--dark {
  background-color: #295C7A;
}
.promo__card-title {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 24px;
  color: #252B42;
  margin: 0;
  padding-bottom: 10px;
}
.promo__card-title--dark {
  color: #fff;
}
.promo__card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}
.promo__card-text--dark {
  color: #fff;
}

.title {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  text-align: center;
  max-width: 455px;
  margin: 0 auto;
}

.about {
  background-color: #fafafa;
  padding: 165px 0 87px;
}

.client {
  padding-bottom: 95px;
}
.client__box {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.client__box-item {
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 230px;
}
.client__box-number {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
}
.client__box-text {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 16px;
  color: #737373;
  text-transform: uppercase;
}

.practice {
  padding-top: 125px;
}
.practice__box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 45px;
}
.practice__box-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.practice__box-content {
  padding: 30px 42px 0 30px;
}
.practice__box-title {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 16px;
  color: #252B42;
  margin: 0;
  padding-bottom: 15px;
  max-width: 120px;
}
.practice__box-text {
  text-align: inherit;
  padding-bottom: 30px;
}

.we {
  padding: 160px 0 145px;
}
.we__box {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  gap: 120px;
}
.we__box-title {
  text-align: inherit;
}
.we__box-text {
  text-align: inherit;
}
.we__box-video {
  background-image: url(../images/we.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.we__list {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.we__list-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.we__list-title {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 16px;
  color: #252B42;
  margin: 0;
  padding-bottom: 5px;
}
.we__list-subtitle {
  font-weight: 700;
  text-align: inherit;
}