.about {
    background-color: #fafafa;
    padding: 165px 0 87px;
}
.client {
    padding-bottom: 95px;
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
        max-width: 455px;
        margin: 0 auto;
    }
    &__box {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        &-item {
            background-color: $color-white;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 230px;
        }
        &-number.title-secondary {
            padding-bottom: 0;
        }
        &-text {
            font-family: $font-family-second;
            font-weight: 700;
            font-size: $size-subtitle;
            color: $color-gray;
            text-transform: uppercase;
        }
    }
}
.practice {
    padding-top: 125px;
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
        max-width: 455px;
        margin: 0 auto;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding-top: 45px;
        &-item {
            background-color: $color-white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-content {
            padding: 30px 42px 0 30px;
        }
        &-title {
            font-family: $font-family-second;
            font-weight: 700;
            font-size: $size-subtitle;
            color: $color-dark-blue;
            margin: 0;
            padding-bottom: 15px;
            max-width: 120px;
        }
        &-text {
            text-align: inherit;
            padding-bottom: 30px;
        }
    }
}

@media (max-width: 1100px) {
    .client__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .practice__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        &-item {
            max-width: 230px;
        }
    }
}

@media (max-width: 750px) {
    .client__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .practice__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
