.title {
    font-family: $font-family-second;
    font-weight: 700;
    font-size: $size-title;
    color: $color-dark-blue;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
}
.text {
    font-family: $font-family-first;
    font-weight: 400;
    font-size: $size-text;
    color: $color-gray;
    text-align: center;
    max-width: 455px;
    margin: 0 auto;
}

.about {
    background-color: #fafafa;
    padding: 165px 0 87px;
}
.client {
    padding-bottom: 95px;
    &__box {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        &-item {
            background-color: $color-white;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 230px;
        }
        &-number {
            font-family: $font-family-second;
            font-weight: 700;
            font-size: $size-title;
            color: $color-dark-blue;
        }
        &-text {
            font-family: $font-family-second;
            font-weight: 700;
            font-size: $size-subtitle;
            color: $color-gray;
            text-transform: uppercase;
        }
    }
}
.practice {
    padding-top: 125px;
    &__box {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding-top: 45px;
        &-item {
            background-color: $color-white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-content {
            padding: 30px 42px 0 30px;
        }
        &-title {
            font-family: $font-family-second;
            font-weight: 700;
            font-size: $size-subtitle;
            color: $color-dark-blue;
            margin: 0;
            padding-bottom: 15px;
            max-width: 120px;
        }
        &-text {
            text-align: inherit;
            padding-bottom: 30px;
        }
    }
}
