.contact {
    padding: 80px 0 155px 0;
    background-color: $color-light-white;
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
        margin: 0 auto;
        max-width: 455px;
    }
    &-wrapper {
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        flex-basis: 33%;
        height: 330px;
        &-img {
            padding-bottom: 15px;
        }
        &-link.main-text {
            font-weight: 700;
            letter-spacing: 0.2px;
            color: $color-dark-blue;
        }
        &-link--dark.main-text {
            color: $color-white;
        }
        &-text.title-secondary {
            font-size: $size-subtitle;
            padding: 15px 0;
        }
        &-text--dark.title-secondary {
            color: $color-white;
        }
        &-dark {
            background-color: $color-dark-blue;
            height: 400px;
            justify-content: center;
        }
    }
}

.consultation {
    padding: 40px 0;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title.title-secondary {
        font-size: $size-secondary;
    }
}

@media (max-width: 750px) {
    .contact-wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .contact__item {
        padding: 50px 40px 50px 40px;
    }
    .contact__text.main-text {
        font-weight: 700;
    }
    .consultation {
        padding: 40px 70px;
        &-wrapper {
            flex-direction: column;
            align-items: baseline;
        }
        &__text {
            padding-bottom: 50px;
        }
    }
}
