.contact {
    padding: 80px 0 155px 0;
    background-color: $color-light-white;
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
        margin: 0 auto;
        max-width: 455px;
    }
    &-wrapper {
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        flex-basis: 33%;
        height: 330px;
        &-img {
            padding-bottom: 15px;
        }
        &-link.main-text {
            font-weight: 700;
            letter-spacing: 0.2px;
            color: $color-dark-blue;
        }
        &-link--dark.main-text {
            color: $color-white;
        }
        &-text.title-secondary {
            font-size: $size-subtitle;
            padding: 15px 0;
        }
        &-text--dark.title-secondary {
            color: $color-white;
        }
        &-btn {
            border: 1px solid $color-light-brown;
            border-radius: 5px;
            padding: 10px 20px;
            color: $color-light-brown;
            font-family: $font-family-first;
            font-size: $size-text;
            font-weight: 700;
        }
        &-dark {
            background-color: $color-dark-blue;
            height: 400px;
            justify-content: center;
        }
    }
}

.consultation {
    padding: 40px 0;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title.title-secondary {
        font-size: $size-secondary;
    }
    &__btn {
        background-color: $color-brown;
        border-radius: 5px;
        padding: 15px 40px;
        color: $color-white;
        font-family: $font-family-first;
        font-weight: 700;
        font-size: $size-text;
    }
}
