.footer {
    padding-top: 50px;
    background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
    &-content {
        display: flex;
        justify-content: space-between;
        color: $color-white;
        padding-bottom: 52px;
        &__title.title-secondary {
            font-size: $size-subtitle;
            color: $color-white;
            padding-bottom: 20px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-item--one {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &-link {
            font-family: $font-family-first;
            font-weight: 600;
            font-size: $size-text;
        }
    }
    &-bottom {
        background-color: $color-white;
        padding: 25px 0;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__text.main-text {
            font-weight: 700;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        gap: 25px;
    }
}

@media (max-width: 800px) {
    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}

@media (max-width: 600px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-bottom__wrapper {
        flex-direction: column;
        gap: 50px;
        align-items: baseline;
    }
}

@media (max-width: 420px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 55px 70px;
    }
    .footer-bottom {
        padding: 25px 70px 25px 70px;
    }
}
