.header {
    padding-top: 36px;
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.promo {
    padding-top: 120px;
    &__content {
        max-width: 400px;
    }
    &__content-title {
        font-family: $font-family-second;
        font-weight: 900;
        font-size: 58px;
        line-height: 65px;
        letter-spacing: 0.2px;
        color: $color-dark-blue;
        margin: 0;
        padding-bottom: 35px;
    }
    &__content-text {
        font-family: $font-family-third;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: $color-gray;
        padding-bottom: 35px;
    }
    &__btn-first {
        font-family: $font-family-first;
        font-weight: 700;
        font-size: $size-text;
        letter-spacing: 0.2px;
        background-color: $color-brown;
        color: $color-white;
        padding: 10px 36px;
        border-radius: 37px;
        margin-right: 10px;
    }
    &__btn-second {
        font-family: $font-family-first;
        font-weight: 700;
        font-size: $size-text;
        letter-spacing: 0.2px;
        background-color: transparent;
        border: 1px solid $color-brown;
        color: $color-brown;
        padding: 10px 36px;
        border-radius: 37px;
    }
    &__card {
        margin: 80px 20px 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        position: absolute;
        bottom: -30px;
    }
}

.promo-card {
    padding: 35px 85px 35px 40px;
    background-color: $color-white;
    max-width: 318px;
    &__dark {
        background-color: $color-blue;
    }
    &__title {
        font-family: $font-family-second;
        font-weight: 700;
        font-size: $size-secondary;
        color: $color-dark-blue;
        margin: 0;
        padding-bottom: 10px;
        &--dark {
            color: $color-white;
        }
    }
    &__text {
        font-family: $font-family-first;
        font-weight: 400;
        font-size: $size-text;
        color: $color-gray;
        &--dark {
            color: $color-white;
        }
    }
}

@media (max-width: 910px) {
    .promo__card {
        display: flex;
        flex-direction: column;
        right: 0;
    }
}

@media (max-width: 750px) {
    .header {
        height: auto;
    }
    .promo {
        padding: 195px 0 120px 0;
        &__card {
            position: inherit;
            flex-direction: column;
            align-items: center;
        }
    }
    .promo__content {
        margin: 0 auto;
        text-align: center;
        max-width: 285px;
        &-title {
            font-size: $size-title;
            font-weight: 700;
            padding-bottom: 40px;
        }
        &-text {
            padding-bottom: 40px;
        }
    }
    .promo__btn-first {
        margin-bottom: 30px;
        margin-right: 0;
    }
}
