.partners {
    background: rgb(250, 250, 250);
    background: linear-gradient(
        180deg,
        rgba(250, 250, 250, 1) 0%,
        rgba(250, 250, 250, 1) 75%,
        rgba(37, 43, 66, 1) 75%
    );
    padding: 50px 0 20px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 70px;
    }
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-blue;
    padding: 30px 50px;
    &__title {
        color: $color-white;
        font-size: $size-secondary;
        padding-bottom: 0;
        max-width: 250px;
        text-align: inherit;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 50px;
    background: $color-white;
    border: 1px solid $color-white;
    border-radius: 5px;
    &__input {
        color: $color-gray;
        font-family: $font-family-second;
        font-size: $size-text;
        font-weight: 400;
        border: none;
        padding: 15px 20px;
    }
    &__button {
        width: 120px;
        background-color: $color-light-brown;
        color: $color-white;
        font-family: $font-family-second;
        font-size: $size-text;
        font-weight: 400;
    }
}

@media (max-width: 750px) {
    .partners__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px 10px;
    }
    .subscribe-form {
        flex-direction: column;
        &__title {
            padding-bottom: 30px;
            text-align: center;
        }
    }
}

@media (max-width: 520px) {
    .partners {
        background: #fafafa;
    }
    .partners__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .subscribe-form {
        background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
    }
    .form {
        max-width: 330px;
    }
}
