.practice {
    padding: 125px 0 80px 0;
    background-color: #fafafa;
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
        max-width: 455px;
        margin: 0 auto;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding-top: 45px;
        &-img {
            width: 100%;
        }
        &-item {
            background-color: $color-white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-content {
            padding: 30px 42px 0 30px;
        }
        &-title.title-secondary {
            font-size: $size-subtitle;
            padding-bottom: 15px;
            max-width: 120px;
        }
        &-text.main-text {
            padding-bottom: 30px;
        }
    }
}

@media (max-width: 1100px) {
    .practice__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        &-item {
            max-width: 230px;
        }
    }
}

@media (max-width: 750px) {
    .practice__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
