.we {
    padding: 160px 0 145px;
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
        max-width: 455px;
        margin: 0 auto;
    }
    &__box {
        display: flex;
        padding-top: 100px;
        justify-content: space-between;
        gap: 120px;
        &-content {
            max-width: 320px;
        }
        &-video {
            background-image: url(../images/we.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
        }
    }
    &__list {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-item {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }
        &-title.title-secondary {
            font-size: $size-subtitle;
            padding-bottom: 5px;
        }
        &-subtitle.main-text {
            font-weight: 700;
        }
    }
}

@media (max-width: 750px) {
    .we {
        padding: 100px 0 150px 0;
        &__text {
            max-width: 206px;
        }
        &__box {
            flex-direction: column;
            padding: 100px 30px 0 30px;
            &-text {
                margin: 0;
            }
            &-video {
                width: 100%;
                height: 440px;
            }
        }
    }
}
