.we {
    padding: 160px 0 145px;
    &__box {
        display: flex;
        padding-top: 100px;
        justify-content: space-between;
        gap: 120px;
        &-title {
            text-align: inherit;
        }
        &-text {
            text-align: inherit;
        }
        &-video {
            background-image: url(../images/we.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
        }
    }
    &__list {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-item {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }
        &-title {
            font-family: $font-family-second;
            font-weight: 700;
            font-size: $size-subtitle;
            color: $color-dark-blue;
            margin: 0;
            padding-bottom: 5px;
        }
        &-subtitle {
            font-weight: 700;
            text-align: inherit;
        }
    }
}

@media (max-width: 750px) {
    .we {
        padding: 100px 0 150px 0;
    }
    .we__box {
        flex-direction: column;
        padding: 100px 30px 0 30px;
        &-text {
            margin: 0;
        }
        &-video {
            width: 100%;
            height: 440px;
        }
    }
}
