.we {
    padding: 160px 0 145px;
    &__box {
        display: flex;
        padding-top: 100px;
        justify-content: space-between;
        gap: 120px;
        &-title {
            text-align: inherit;
        }
        &-text {
            text-align: inherit;
        }
        &-video {
            background-image: url(../images/we.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
        }
    }
    &__list {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-item {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }
        &-title {
            font-family: 'Martel', serif;
            // $font-family-second
            font-weight: 700;
            font-size: 16px;
            // $size-subtitle
            color: #252b42;
            // $color-dark-blue
            margin: 0;
            padding-bottom: 5px;
        }
        &-subtitle {
            font-weight: 700;
            text-align: inherit;
        }
    }
}
