.title-secondary {
    font-family: $font-family-second;
    font-weight: 700;
    font-size: $size-title;
    color: $color-dark-blue;
    padding-bottom: 10px;
    margin: 0;
}

.main-text {
    font-family: $font-family-first;
    font-weight: 400;
    font-size: $size-text;
    color: $color-gray;
}
