$color-white: #ffffff;
$color-light-white: #f3f3f3;

$color-blue: #295c7a;
$color-dark-blue: #252b42;

$color-gray: #737373;
$color-light-gray: #fafafa;

$color-brown: #784f33;
$color-light-brown: #d0a144;

$font-family-first: 'Open Sans', sans-serif;
$font-family-second: 'Martel', serif;
$font-family-third: 'Montserrat', sans-serif;

$size-title: 40px;
$size-secondary: 24px;
$size-subtitle: 16px;
$size-text: 14px;

// $container: 1050px;
