$color-white: #ffffff;

$color-blue: #295C7A;
$color-dark-blue: #252B42;

$color-gray: #737373;
$color-light-gray: #FAFAFA;

$color-brown: #784F33;
$color-light-brown: #D0A144;

$font-family-first: 'Open Sans',
sans-serif;
$font-family-second: 'Martel',
serif;
$font-family-third:'Montserrat',
sans-serif;

$size-title: 40px;
$size-secondary: 24px; 
$size-subtitle: 16px;
$size-text: 14px;

// $container: 1050px;

